

h5 {
  text-transform: capitalize;
}

.about img {
  max-width: 300px;
}

.about-badge {
  width: 100%;
  margin: 5px;
  border: solid;
  padding: 5px;
  font-size: 90%;
  box-sizing: border-box;
  background-color: #ffffff;
}

.about-text {
  font-family: Times, 'Times New Roman', serif;
  font-size: 125%;
}

#about-photo {
  display: block;
  width: 100%;
  margin: auto;
}

.header {
  min-height: 100vw;
}

.header h1 {
  text-align: center;
  color: white;
  padding-top: 50vh;
}

#header {
  background-image: url(/img/ko-couch.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

}

.list-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 90%;
}

.portfolio {
  width: 100%;
  margin: auto;
}

.project {
  width: 30%;
  margin: 0 5px 5px 5px;
  border: solid;
  padding: 5px;
  float: left;
}

.project img {
  width: 100%;
}

.project h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 95%;
}

.project h5 {
  font-weight: 300;
}

 .project p {
  font-size: 85%;
 }